header {
    nav {
        div {
            a {
                img {
                    padding: 0px;
                    margin: 0px;
                    width: 200px;
                }
            }
        }
    }
}
footer {
    #footer {
        .row {
            .col-lg-6 {
                #container__logo-footer {
                margin-top:5%;
                margin-bottom: 5%;
                padding-left: 8%;
                }
            }
        }
    }
}
header {
    nav {
        div {
            a {
                #container__logo_doomsday {
                    height: 100px;
                    width: 300px;
                }
            }
        }
    }
}
.container {
    .row {
        .col-lg-4 {
            .container__img_clothes{
                max-width: 100%;
                background-color: transparent;
            }
            .container__img_clothes:hover {
                transition: 1s;
                transform: scale(1.1);
            }
            .col-lg-4 {
                padding: 10px;
            }
            .container__img_text {
                font-family: $contraste;
                font-size: 14px;
                color: $color-primario;
                background-color: black;
                border-radius: 0px;
            }
        }
    }
}
.container {
    .row {
        .col-lg-4 {
            .container__img {
                max-width: 100%;
                filter: grayscale(1);
                z-index: 1;
                margin-bottom: 2em;
            }
            .container__img:hover {
                filter: none;
                transition: 1s;
            }
        }
    }
}
#her__container {
    margin-top: 4em;
    margin-bottom: 6em;
    .row {
        .col-lg-4 {
            .container__img_clothes_her {
                max-width: 100%;
            }
            .container__img_text_her {
                font-family: $contraste;
                font-size: 14px;
                color: $color-primario;
                background-color: black;
            }
        }
        .container__img_clothes_her:hover {
            transition: 2s;
            transform: scale(1.1);
        }
    }
}
.row {
#carousel {
    .carousel-item {
        img {
            justify-self: center;
            width: 80%;
        }
    }
}
}