$color-primario: #c2001d;
$color-secundario: black;
$color-terciario: white;
$fuente-secundario: "Hind Siliguri", sans-serif;
$fuente-terciaria: "Raleway", sans-serif;
$contraste: "Poppins", sans-serif;

.navbar {
  .collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $color-primario;
          text-transform: uppercase;
          font-size: 20px;
          background-color: black;
          font-family: $contraste;
          font-weight: bold;
          z-index: 9999;
        }
      }
    }
  }
}

.container-fluid {
  .container__text_h2 {
    color: $color-secundario;
    font-size: 4em;
    text-transform: uppercase;
    background-color: $color-secundario;
    color: $color-primario;
    margin-top: 1em;
    padding: 1rem;
    font-family: $fuente-secundario;
    text-shadow: 0 0 17px $color-primario, 0 0 47px $color-primario, 0 0 107px $color-primario;
    letter-spacing: 1em;
    z-index: 1;
    white-space: wrap;
    height: fit-content;
  }
  #container__row_text_h2 {
    text-align: center;
  }
}
.container-fluid {
  .row .container__text_h1 {
    background-size: 10em;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 60s linear infinite;
    font-size: 8em;
    color: rgba(255, 0, 0, 0.616);
    background-image: url(https://ih1.redbubble.net/image.835574599.9545/flat,750x1000,075,f.jpg);
  }
  .container__text_h1 {
    font-family: $fuente-terciaria;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
  }
  .h1-card {
    background-color: black;
    height: fit-content;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
@keyframes animate {
  0% {
    background-position: left 0px top 0px;
  }
  40% {
    background-position: left 800px top 0px;
  }
}
.container {
  .container__text_h2_her {
    color: $color-secundario;
    font-size: 4em;
    height: fit-content;
    text-transform: uppercase;
    background-color: $color-secundario;
    color: $color-primario;
    margin-top: 1em;
    padding: 1rem;
    letter-spacing: 1em;
    font-family: $fuente-secundario;
    text-shadow: 0 0 17px $color-primario, 0 0 30px $color-primario, 0 0 50px $color-primario;
  }
  #container__row_text_h2_her {
    text-align: center;
  }
  .container__text_h3_her {
    color: $color-secundario;
    font-size: 20px;
    text-transform: uppercase;
    background-color: $color-primario;
    padding: 1rem;
    font-family: $fuente-secundario;
    letter-spacing: 1em;
    font-weight: bold;
  }
  #container__row_text_h3_her {
    text-align: center;
  }
}
#copyright {
  background-color: $color-primario;
  height: auto;
  .copyright__text {
    color: $color-secundario;
    font-size: 0.9rem;
    margin: 0px;
    height: 2vh;
    font-family: $fuente-terciaria;
  }
}
.container {
  .row {
    .col-lg-4 {
      .container__img_text {
        border-radius: 1rem;
        text-align: center;
        font-family: $contraste;
        text-transform: uppercase;
        font-weight: bolder;
        color: $color-primario;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
      }
      .container__img_text_her {
        text-align: center;
        font-family: $fuente-terciaria;
        text-transform: uppercase;
        font-weight: bolder;
        color: $color-secundario;
      }
    }
  }
}
.container {
  .row {
    .col {
      background-image: url(https://i.pinimg.com/originals/30/89/32/3089327d41ec6ede2cf3ea1d31e9488c.jpg);
      .text-us {
        font-size: 1em;
        font-weight: 800;
        font-weight: $color-secundario;
        text-align: center;
        width: 100%;
        animation: typing 2s steps(22), 0.5s step-end infinite alternate;
        white-space: wrap;
        overflow: hidden;
        font-family: monospace;
        color: $color-terciario;
      }
      .text-us-important {
        color: $color-primario;
        text-align: center;
        font-size: 2em;
        font-family: $fuente-secundario;
      }
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}