@media (max-width: 992px) { 
    #socialLogos {
        margin-left: 80px;
    }
    .follow-doomsday {
        margin-left: 100px;
    }
    .navbar {
        height: 2vh;
          .container-fluid {
            .navbar-brand {
              
              img{
                height: 20vh;
                padding: 0px;
              }
            }
          }
      }
      .container-fluid {
        .container__text_h2 {
          font-size: 4vh;
        }
    }
    header {
      nav {
          div {
              a {
                  #container__logo_doomsday {
                      height: 80px;
                      width: 200px;
                  }
              }
          }
      }
  }
  }
@media (max-width: 768px) { 
  .navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    .container__text_h2 {
      font-size: 4vh;
    }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}
 @media (max-width: 480px) { 
   #footer {
     .row {
       .col-lg-4 {
        .container__logos_redes {
          margin-left: 25%;
          margin-bottom: 70px;
          .follow-doomsday {
            margin-left: 30px;
          }
        }
       }
     }
   }
.navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    div {
    .container__text_h2 {
      font-size: 20px;
      text-shadow: -0.02em 0 white, 0.02em 0 cyan;
      font-weight: bolder;
    }
  }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}
 @media (max-width: 480px) { 
   #footer {
     .row {
       .col-lg-4 {
        .container__logos_redes {
          margin-left: 25%;
          margin-bottom: 70px;
          .follow-doomsday {
            margin-left: 30px;
          }
        }
       }
     }
   }
.navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    div {
    .container__text_h2 {
      font-size: 20px;
      text-shadow: -0.02em 0 white, 0.02em 0 cyan;
      font-weight: bolder;
    }
  }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}
 @media (max-width: 480px) { 
   #footer {
     .row {
       .col-lg-4 {
        .container__logos_redes {
          margin-left: 25%;
          margin-bottom: 70px;
          .follow-doomsday {
            margin-left: 30px;
          }
        }
       }
     }
   }
.navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    div {
    .container__text_h2 {
      font-size: 20px;
      text-shadow: -0.02em 0 white, 0.02em 0 cyan;
      font-weight: bolder;
    }
  }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}
@media (max-width: 576px) { 

.navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    .container__text_h2 {
      font-size: 4vh;
    }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}
 @media (max-width: 480px) { 
   #footer {
     .row {
       .col-lg-4 {
        .container__logos_redes {
          margin-left: 25%;
          margin-bottom: 70px;
          .follow-doomsday {
            margin-left: 30px;
          }
        }
       }
     }
   }
.navbar {
    height: 2vh;
      .container-fluid {
        .navbar-brand {
          
          img{
            height: 20vh;
            padding: 0px;
          }
        }
      }
  }
  .container-fluid {
    div {
    .container__text_h2 {
      font-size: 20px;
      text-shadow: -0.02em 0 white, 0.02em 0 cyan;
      font-weight: bolder;
    }
  }
}
header {
  nav {
      div {
          a {
              #container__logo_doomsday {
                  height: 80px;
                  width: 200px;
              }
          }
      }
  }
}
}